.login {
    @include flexColumn(20px);
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .backHome {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        a {
            @include hover();
            @include flex(5px);
            align-items: center;
            &:hover {
                color: #fff;
            }
        }
    }
    
    &__cont {
       width: 500px;
       margin: 0 auto;
       @extend .caja;
       padding: 60px;
       @include flexColumn(15px);
        background-image: radial-gradient(circle, color-opacity($colorPrimarioClaro, 1) 0%, color-opacity($colorPrimarioClaro, 0.5));
        position: relative;

        @include mobile(){
            width: 80vw;
            padding: 25px;
        }

        span {
            font-size: 14px;
        }

       h2 {
        font-weight: 500;
       }

       &--form {
            @include flexColumn(15px);
            width: 100%;

            &--campo {
                @include flexColumn(5px);
                width: 100%;
                position: relative;

                i {
                    font-size: 20px;
                    color: #ffffff99;
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    cursor: pointer;
                    @include hover();
                    &:hover {
                        color: #fff;
                    }
                }
            }

            button {
                width: 100%;
                background-color: $colorTagDestacado;
                font-size: 22px;
                border-radius: 10px;
                cursor: pointer;
                @include hover();
                &:hover {
                        background-color: $colorTag;
                        box-shadow: 0 0 50px 0 color-opacity($colorTagDestacado, .5);
                    }
            }
       }

           &--header {
               @include flexColumn();
               justify-content: center;
               align-items: center;
               position: absolute;
               left: 50%;
               transform: translate(-50%, -180%);

               @include mobile(){
                   flex-direction: row;
                   
               }
    
               i {
                   font-size: 75px;
                    @include mobile() {
                        font-size: 50px;
                    }

               }
    
               h1 {
                   font-size: 24px;
                    @include mobile() {
                        font-size: 18px;
                    }
               }
           }
    }

    &__crear {
        @include flex();
        justify-content: center;
        padding-bottom: 15px;
        color: #fff;
        span, strong {
            font-size: 16px;
            @include mobile(){
                font-size: 13px;
            }
        }

        strong {
            color: $colorTagDestacado;
            cursor: pointer;
            text-decoration: underline;
            font-weight: 500;
            &:hover {
                color: $amarelo;
            }
        }
    }

        .codigo__cont {
            @include flex();
            margin-block: 10px 25px;
        }
    
        .codigo__input {
            
            height: 70px;
            font-size: 24px;
            text-align: center;
            border-radius: 8px;
            outline: none;
            transition: all 0.2s;
        }
    
        .codigo__input:focus {
            border-color: $colorTagDestacado;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        .reenviar-codigo {
            @include flex();
            padding-top: 15px;
            span {
                font-size: 14px
            }
            button {
                background-color: transparent;
                padding: 0;
                font-size: 14px;
                color: $colorTag;
                text-decoration: underline;
                font-weight: 500;
                width: fit-content;
                &:hover {
                    color: $amarelo;
                    box-shadow: none;
                    border-radius: 0;
                }

                &:disabled {
                    color: #fff;
                    opacity: .5;
                    text-decoration: none;

                }
            }
        }
}

.glowLogin {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    height: 150%;
    padding: 30% 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(ellipse, #e6b7fe 20%, #5049c2 40%, rgba(58, 55, 255, 0) 60%);
    filter: blur(50px);
    z-index: -1;
}

.registro {
    @include flexColumn(20px);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0!important;


    &__header {
            @include flex();
            justify-content: center;
            align-items: center;
    
            i {
                font-size: 50px;
            }
    
            h1 {
                font-size: 30px;
            }
        }

    &__cont {
        width: 500px;
        margin: 0 auto;
        @extend .caja;
        padding: 30px;
        @include flexColumn(15px);
        background-image: radial-gradient(circle, color-opacity($colorPrimarioClaro, 1) 0%, color-opacity($colorPrimarioClaro, 0.5));
        position: relative;

        h2 {
            font-weight: 500;
        }

        &--form {
            @include flexColumn(15px);
            width: 100%;

            &--campo {
                @include flexColumn(5px);
                width: 100%;
                position: relative;

                i {
                    font-size: 30px;
                    color: #ffffff99;
                    position: absolute;
                    bottom: 15px;
                    right: 20px;
                    cursor: pointer;
                    @include hover();

                    &:hover {
                        color: #fff;
                    }
                }
            }

            button {
                width: 100%;
                background-color: $colorTagDestacado;
                font-size: 22px;
                border-radius: 10px;
                cursor: pointer;
                @include hover();

                &:hover {
                    background-color: $colorTag;
                    box-shadow: 0 0 50px 0 color-opacity($colorTagDestacado, .5);
                }
            }
        }

        
    }

    &__crear {
        @include flex();
        justify-content: center;
        padding-bottom: 15px;
        color: #fff;

        span,
        strong {
            font-size: 16px;
        }

        strong {
            color: $colorTagDestacado;
            cursor: pointer;
            text-decoration: underline;
            font-weight: 500;

            &:hover {
                color: $amarelo;
            }
        }
    }
}